/* dark mode switch */
.dark-mode {
  --portblack: #ffffff;
  --portdarkred: #a90015ff;
  --portred: #c30011ff;
  --portgrey: #c5c5c5;
  --portwhite: #f2f5faff;
  --portbgwhite: #121212;
  --portboxshadow: #0c0c0c;
}

.port-mode-switch img {
  height: 25px;
  transition: 0.2s ease-in-out;
}

.port-mode-switch img:hover {
  filter: invert(94%) sepia(8%) saturate(0%) hue-rotate(174deg) brightness(87%)
    contrast(83%);
  transform: scale(1.05);
}

.dark-mode-button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
